.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;
}

.search-form {
  margin-bottom: 20px;
}

.load-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.photo-card {
  list-style: none;
  color: #000000;
  text-decoration: none;
}
